html{
    transform: scale(0.8) translateX(-12.5%) translateY(-12.5%);
}
*{
    font-family: lemonMilk;
    margin: 0;
}
#fondo{
    opacity: 50%;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

}
@font-face {
    font-family: caviarDreams;
    src: url(../estilos/CaviarDreams_Bold.ttf);
}
@font-face {
    font-family: lemonMilk;
    src: url(../estilos/LEMONMILK-Regular.otf);
}
img{
    height: 128px;
}
h1{
    font-size: 30px;
}
#datosBT{
    display: inline-block;

    vertical-align: top;
    height: 128px;
    
}
h2{
    margin-top: 12.66666666px;
    text-align: end;
}
#BT{

    display: inline-block;
    padding: 30px;
}
p{
    font-size:20px;
}
#otros{

    float: right;
    padding: 30px;
    text-align: end;
    display: inline-block;

}
.cav{
    font-family: caviarDreams;
}
#cliente{
    margin: 30px;
}
#cliente p{
    margin: 0 2% ;
    display: inline-block;
    font-size: 16px;
}
td{
    font-family: caviarDreams;
}
table{
    text-align: center;

    margin: 0 80px 30px 30px;
    width: calc(100% - 60px);
    padding: 0;

}
th{
    border: 2.5px solid black;
    background-color: white;

}
#top-right{
    border-top-right-radius: 20px;
}
#top-left{
    border-top-left-radius: 20px;
}
#bottom-right{
    border-bottom-right-radius: 20px;
}
td{
    border: 2.5px solid black;
    background-color: white;

}
.void{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
