@font-face {
    font-family: caviarDreams;
    src: url(CaviarDreams.ttf);
}
@font-face {
    font-family: lemonMilk;
    src: url(LEMONMILK-Regular.otf);
}
body{
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
:root{
    --color: rgb(70, 92, 126);
    --color2:rgb(39, 75, 131);
}
*{
    margin: 0;
    font-family: caviarDreams;
    font-weight: 800;
}
section{
    padding: 15px;
    min-width: 308px;
    margin: auto auto 0;
    width: 90%;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    box-shadow: 0px 0px 19px 5px var(--color);
    border: 5px solid rgb(255, 255, 255);

}
header{
    height: 85px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
}
h1{
    margin: 20px;
    font-family: lemonMilk;
    color:var(--color2);
    text-align: center;
}
nav{
    display: flex;
    text-align: center;
    height: 42px;
    margin: 0;
    background: rgb(70,92,123);
    background: linear-gradient(0deg, rgba(70,92,123,1) 0%, rgba(39,75,131,1) 50%, rgba(39,75,131,1) 100%);
    padding-top: 14px;
}
#actual{
    color: rgb(0, 0, 0);
}
a{

    font-size: 22px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
}
footer{
    display: flex;
    height: 42px;
    background: rgb(70,92,123);
    background: linear-gradient(180deg, rgba(70,92,123,1) 0%, rgba(39,75,131,1) 50%, rgba(39,75,131,1) 100%);
    margin-top: auto;
    text-align: center;
    color: white;
    width: 100%;padding-top: 20px;
}
th{
    text-transform:uppercase;
}
span{
    margin: 0 auto;
}
img{
    position: absolute;
    height: 60px;
    left: 10px;
    top: 12.5px;
}
@media (max-width: 600px){
    a{
        font-size: 13px;
        margin-top: 6px;
    }
    h1{
        float: right;
        font-size: 20px;
        margin-top: 30px;
    }
    header{
        height: 85px;
    }
    section{
        padding: 15px 3px;
    }
    #tabla{
        width: 99%;
        margin: auto;
    }
    
}