nav{
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.975);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}
.navBrand{
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.navBrand:hover{
    color: #fffd;
}

nav button{
    display: none;
}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

nav ul li{
    list-style: none;
    margin: 0 10px;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #aaa;
}
nav ul li a[class="active"]{
    color: rgb(83, 170, 37);
}
nav ul li a:hover{
    color: #fff;
}



@media all and (max-width:500px) {

    nav button{
        display: block;
        background-color: #fff;
        width: 30px;
        margin-right: 20px;
    }

    nav ul{
        display: none;
    }

    nav ul[class="active"]{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:50px;
        left: 60%;
        width: 40%;
        height: 20vh;
        background-color: rgba(0, 0, 0, 0.975);
    }
}
