:root {
    --skills-size: 15vw;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: rgb(6, 6, 11);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(6, 6, 11);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(83, 170, 37);
}

.info a {
    color: rgb(83, 170, 37);
}

.cont {
    background-color: rgb(6, 6, 11);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100vh;
}

.info {
    max-width: 65vw;
}

h2 {
    color: rgb(83, 170, 37);
    position: relative;
    font-size: 4vw;
    font-weight: 900;
}

h3 {

    color: rgb(13, 75, 0);
    position: relative;
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 5vh;

}


.imagen {
    margin: 0 0 0 5vw;
    flex-flow: row;
}


p {
    color: #bbb;
    margin-top: 10px;
    text-align: justify;
    font-size: 1.6vw;
    margin: 0;
}

h1 {
    margin: 0;
    position: relative;
    color: #bbb;
    font-size: 5vw;
    white-space: pre;
    font-style: italic;
    font-weight: 900;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    white-space: pre;
    height: 100%;
    overflow: hidden;
    color: rgb(83, 170, 37);
    animation: animate 10s ease-in-out infinite;
}

h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    white-space: pre;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    color: #bbb;
    animation: animate2 10s ease-in-out infinite;
}


span {

    position: relative;
    font-size: 1.8vw;
    font-weight: 600;
    color: rgb(83, 170, 37);
}


#img {
    display: block;
    width: 20vw;
    height: 20vw;
    background-image: url(img/fefinho.jpg);
    border-radius: 50%;
    background-position-y: start;
    background-size: cover;
}

/* linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 8, 0.7)), url(img/bros.gif) */
.parallax1 {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 8, 0.7)), url(img/bros.gif);
    background-position-y: center;
    background-position-x: center;
    opacity: 100%;
    background-size: cover;
    background-attachment: fixed;
}

/*  linear-gradient(rgba(5, 4, 8, 0.85), rgba(5, 4, 8, 0.85)), url(img/dws.gif) */
.parallax2 {
    position: relative;
    background: linear-gradient(rgba(5, 4, 8, 0.9), rgba(5, 4, 8, 0.9)), url(img/dws.gif);
    background-position-y: center;
    background-position-x: center;
    opacity: 100%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.parallax3 {
    position: relative;
    background: linear-gradient(rgba(5, 4, 8, 0.9), rgba(5, 4, 8, 0.9)), url(img/5927911.gif);
    background-position-y: center;
    background-position-x: center;
    opacity: 100%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}


.projects {
    height: 100%;
    width: 100%;
    border-left: 0.1vw solid #000;
    border-right: 0.1vw solid #000;
    transition: all 1s;
}

.projects:hover {
    transition: all 1s;
    filter: opacity(0.5);
    z-index: 1;
}

#wm {
    background: url(./img/wm.svg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#bt {
    background: url(./img/bt.svg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#obl1s1 {
    background: url(./img/obl1s1.svg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#juego {
    background: url(./img/gameIcon.svg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

#projectsSet a {
    background-color: rgba(6, 6, 11, 0.7);
    overflow-y: hidden;
}

#projectsSet {
    position: relative;
    width: 65vw;
    display: grid;
    grid-template-columns: 8.125vw repeat(4, 16.25vw) 8.125vw;
    grid-template-rows: 25vh;
    overflow-x: scroll;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

#projectsSet::-webkit-scrollbar {
    display: none;
}

#btnRightPrj {
    right: 17.5vw;
}

.btnPrj {
    position: absolute;
    height: 25vh;
    font-size: 10vh;
    width: 7vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--bs-light);
    z-index: 1;
    background-color: rgb(0, 0, 0, 0);
}


#skillset {
    width: 65vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--skills-size);
    gap: 2vw;
}

.skillsBg {
    border-bottom: #bbb 4px solid;
}



/*    HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -    */


.skillsBg1 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(112, 45, 25)));
}

.skill {
    transition: all 0.5s;
}

.skill1 {
    background-image: url(./img/html.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill1:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   */


.skillsBg2 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(25, 77, 112)));
}

.skill2 {
    background-image: url(./img/css.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill2:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   */


.skillsBg3 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(112, 99, 25)));
}

.skill3 {
    background-image: url(./img/js.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill3:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}



/*    BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap    */


.skillsBg4 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(66, 25, 112)));
}

.skill4 {
    background-image: url(./img/bs.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill4:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}



/*       SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL       */


.skillsBg5 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(32, 112, 25)));
}

.skill5 {
    background-image: url(./img/sql.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill5:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}



/*      PHP     -     PHP     -     PHP     -     PHP     -     PHP     -     PHP     -     PHP     -     PHP      */



.skillsBg6 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(50, 41, 124)));
}

.skill6 {
    background-image: url(./img/php.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill6:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}



/*      Java     -     Java     -     Java     -     Java     -     Java     -     Java     -     Java     -     Java      */



.skillsBg7 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(162, 98, 43)));
}

.skill7 {
    background-image: url(./img/java.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill7:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS    */



.skillsBg8 {
    background-image: -webkit-gradient(linear, left 35%, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(48, 48, 48)));
    position: relative;
}

.skill8 {
    background-image: url(./img/react.svg);
    height: var(--skills-size);
    background-size: cover;
    background-position-x: center;
}

.skill8:hover {
    transform: scale(1.1) skew(-0.01turn, 5deg);
}

.soon {
    filter: blur(4px);
}

.content {
    transition: all 0.2s;
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    top: 50%;
    font-size: 1vw;
    right: 26%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0);

}

.skillsBg8:hover .content {
    transition: all 0.2s;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px rgba(0, 0, 0, 1)
}



#email,
#name {
    width: 50vw;
}

#message {
    width: 50vw;
    height: 20vh;
}

























#splash {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(6, 6, 11);
    z-index: 200;
    /* opacity: 1; */
    transition: all ease-in-out 1s;
}

#splash.active {
    /* opacity: 0; */
    position: fixed;
    flex-direction: row;
    align-items: center;
    top: -100vh;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(6, 6, 11);
    z-index: 200;
    transition: all ease-in-out 1s;
}



@media all and (max-width:900px) {
    h2 {
        font-size: 8vw;
    }

    img {
        width: 40vw;
    }

    #img {
        width: 50vw;
        height: 50vw;
    }

    h1 {
        font-size: 9.5vw;
    }

    span {
        font-size: 3.6vw;
    }

    .cont {
        flex-direction: column-reverse;
    }

    .info {
        max-width: 75%;
    }

    p {
        font-size: 2.4vw;
    }

    .imagen {
        margin: 0 0 0 0;
    }

}

@media all and (max-width:899px) {
    p {
        font-size: 16.6px;
    }

    span {
        font-size: 25px;
    }

    :root {
        --skills-size: 30vw;
    }

    #skillset {

        grid-template-columns: 1fr 1fr;

    }

    .content {
        font-size: 3vw;
        right: 25%;
        width: 50%;
        top: 40%;
    }

    #btnLeftPrj {
        display: none;
    }

    #btnRightPrj {
        display: none;
    }

    #projectsSet {
        height: 65vh;
        grid-template-rows: 12.5vh repeat(4, 20vh) 12.5vh;
        grid-template-columns: 45vw;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
    }

    .projects {
        border-left: none;
        border-right: none;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    #projectsSet {
        margin-left: 15vw;
    }
}



@media all and (max-height:500px) {
    #img {
        width: 20vw;
        height: 20vw;
    }

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 7.7vw;
    }

    .cont {
        flex-direction: row;
    }

    .imagen {
        margin: 0 0 0 5vw;
    }

    .info {
        max-width: 60vw;
    }

    #projectsSet {
        margin-left: 7.5vw;
    }


}

@media all and (max-width:500px) {
    #projectsSet {
        grid-template-columns: 60vw;
        margin-left: 5vw;

    }
}













/* ---------------  ANIMACIONES  ----------------- */


@keyframes animate {
    0% {
        opacity: 100%;
        width: 0;
    }

    50%,
    100% {
        width: 100%;
    }

    60% {
        opacity: 100%;
    }

    70%,
    100% {
        opacity: 0%;
    }
}

@keyframes animate2 {
    15% {
        opacity: 100%;
        width: 0;
    }

    60%,
    100% {
        width: 100%;
    }

    70% {
        opacity: 100%;
    }

    80%,
    100% {
        opacity: 0%;
    }
}