:root {
  --skills-size: 5vw;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(6, 6, 11);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(6, 6, 11);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 170, 37);
}

nav {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.975);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
}
.navBrand {
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.navBrand:hover {
  color: #fffd;
}

nav button {
  display: none;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
  color: #fff;
}
nav ul li a {
  text-decoration: none;
  color: #aaa;
}
nav ul li a[class="active"] {
  color: rgb(83, 170, 37);
}
nav ul li a:hover {
  color: #fff;
}

@media all and (max-width: 500px) {
  nav button {
    display: block;
    background-color: #fff;
    width: 30px;
    margin-right: 20px;
  }

  nav ul {
    display: none;
  }

  nav ul[class="active"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 60%;
    width: 40%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.975);
  }
}

.info a {
  color: rgb(83, 170, 37);
}

.cont {
  background-color: rgb(6, 6, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 100vh;
}

.contProj {
  min-height: 100vh;
  background-color: rgb(6, 6, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.info {
  max-width: 65vw;
}

h2 {
  color: rgb(83, 170, 37);
  position: relative;
  font-size: 4vw;
  font-weight: 900;
}

h3 {
  color: rgb(13, 75, 0);
  position: relative;
  font-size: 3vw;
  font-weight: 900;
  margin-bottom: 5vh;
}

.imagen {
  margin: 0 0 0 5vw;
  flex-flow: row;
}

p {
  color: #bbb;
  margin-top: 10px;
  text-align: justify;
  font-size: 1.6vw;
  margin: 0;
}

h1 {
  margin: 0;
  position: relative;
  color: #bbb;
  font-size: 5vw;
  white-space: pre;
  font-style: italic;
  font-weight: 900;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  white-space: pre;
  height: 100%;
  overflow: hidden;
  color: rgb(83, 170, 37);
  animation: animate 10s ease-in-out infinite;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  white-space: pre;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  color: #bbb;
  animation: animate2 10s ease-in-out infinite;
}

span {
  position: relative;
  font-size: 3vw;
  font-weight: 600;
  color: rgb(83, 170, 37);
}

#img {
  display: block;
  width: 20vw;
  height: 20vw;
  background-image: url(img/fefinho.jpg);
  border-radius: 50%;
  background-position-y: start;
  background-size: cover;
}

/* linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 8, 0.7)), url(img/bros.gif) */
.parallax1 {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 8, 0.7)),
    url(img/bros.gif);
  background-position-y: center;
  background-position-x: center;
  opacity: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/*  linear-gradient(rgba(5, 4, 8, 0.85), rgba(5, 4, 8, 0.85)), url(img/dws.gif) */
.parallax2 {
  position: relative;
  background: linear-gradient(rgba(5, 4, 8, 0.9), rgba(5, 4, 8, 0.9)),
    url(img/dws.gif);
  background-position-y: center;
  background-position-x: center;
  opacity: 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.parallax3 {
  position: relative;
  background: linear-gradient(rgba(5, 4, 8, 0.9), rgba(5, 4, 8, 0.9)),
    url(img/5927911.gif);
  background-position-y: center;
  background-position-x: center;
  opacity: 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.projects {
  width: 100%;
  border-left: 0.1vw solid #000;
  border-right: 0.1vw solid #000;
  transition: all 1s;
}

.projects:hover {
  transition: all 1s;
  filter: opacity(0.5);
  z-index: 1;
}
.pCard {
  background-color: rgb(9, 9, 16);
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.88);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 2.5% 60px;
  margin-bottom: 40px;
}

.pCard img {
  border-radius: 20px;
  width: 45%;
  height: auto;
  box-shadow: 0px 0px 15px -6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 15px -6px rgba(255, 255, 255, 1);
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 45%;
}
.pCard div p {
  font-size: 20px;
}
.pCard div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h5 {
  text-align: center;
  color: rgb(83, 170, 37);
}
#wm {
  background: url(./img/wm.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#bt {
  background: url(./img/bt.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#obl1s1 {
  background: url(./img/obl1s1.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#juego {
  background: url(./img/gameIcon.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#projectsSet a {
  background-color: rgba(6, 6, 11, 0.7);
  overflow-y: hidden;
}

#projectsSet {
  position: relative;
  width: 65vw;
  display: grid;
  grid-template-columns: 8.125vw repeat(3, 16.25vw) 8.125vw;
  grid-template-rows: 25vh;
  overflow-x: scroll;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

#projectsSet::-webkit-scrollbar {
  display: none;
}

#btnRightPrj {
  right: 17.5vw;
}

.btnPrj {
  position: absolute;
  height: 25vh;
  font-size: 10vh;
  width: 7vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--bs-light);
  z-index: 1;
  background-color: rgb(0, 0, 0, 0);
}

#skillset {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

small {
  color: #bbb;
}

/*    HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -    */

.skill {
  transition: transform 0.5s;
  width: var(--skills-size);
  height: 70px;
}

.skill1 {
  background-image: url(./img/html.svg);
  background-size: cover;
  background-position-x: center;
}

.skill1:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   */

.skill2 {
  background-image: url(./img/css.svg);
  background-size: cover;
  background-position-x: center;
}

.skill2:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   */

.skill3 {
  background-image: url(./img/js.svg);
  background-size: cover;
  background-position-x: center;
}

.skill3:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap    */

.skill4 {
  background-image: url(./img/bs.svg);
  background-size: cover;
  background-position-x: center;
}

.skill4:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*       SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL       */

.skill5 {
  background-image: url(./img/sql.svg);
  background-size: cover;
  background-position-x: center;
}

.skill5:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*      REACT     -     REACT     -     REACT     -     REACT     -     REACT     -     REACT     -     REACT     -     REACT      */

.skill6 {
  background-image: url(./img/react.svg);
  background-size: cover;
  background-position-x: center;
}

.skill6:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*      Java     -     Java     -     Java     -     Java     -     Java     -     Java     -     Java     -     Java      */

.skill7 {
  background-image: url(./img/java.svg);
  background-size: cover;
  background-position-x: center;
}

.skill7:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS   -   ReactJS    */

.skill9 {
  background-image: url(./img/node-js.svg);
  background-size: cover;
  background-position-x: center;
}

.skill9:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

.content {
  transition: all 0.2s;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  top: 50%;
  font-size: 1vw;
  right: 26%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0);
}

.skillsBg8:hover .content {
  transition: all 0.2s;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

#email,
#name {
  width: 50vw;
}

#message {
  width: 50vw;
  height: 20vh;
}

#contact {
  height: 90vh;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
  justify-content: center;
}

#github {
  background-image: url(./img/github.svg);
  width: 5vh;
  height: 5vh;
  background-size: cover;
  background-position-x: center;
}

#linkedin {
  background-image: url(./img/linkedin.svg);
  width: 5vh;
  height: 5vh;
  background-size: cover;
  background-position-x: center;
}
@media all and (max-width: 1300px) {
  .pCard {
    flex-direction: column;
    padding: 2.5% 0;
    gap:20px
  }
  .pCard:nth-child(odd){
    flex-direction: column-reverse;
  }
  .pCard img {
    width: 90%;
  }
  .pCard div {
    gap: 20px;
    width: 90%;
  }
}
@media all and (max-width: 901px) {
  h2 {
    font-size: 7vw;
  }

  .img {
    width: 40vw;
  }

  #img {
    width: 50vw;
    height: 50vw;
  }

  h1 {
    font-size: 9.5vw;
  }

  span {
    font-size: 3.6vw;
  }

  .cont {
    flex-direction: column-reverse;
  }

  .info {
    max-width: 80%;
  }

  p {
    font-size: 2.4vw;
  }

  .imagen {
    margin: 0 0 0 0;
  }
}

@media all and (max-width: 900px) {
  p {
    font-size: 16.6px;
  }

  span {
    font-size: 25px;
  }

  :root {
    --skills-size: 30vw;
  }

  #skillset {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
  }

  .content {
    font-size: 3vw;
    right: 25%;
    width: 50%;
    top: 40%;
  }

  #btnLeftPrj {
    display: none;
  }

  #btnRightPrj {
    display: none;
  }

  #projectsSet {
    height: 65vh;
    grid-template-rows: 12.5vh repeat(3, 20vh) 12.5vh;
    grid-template-columns: 45vw;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .projects {
    border-left: none;
    border-right: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  #projectsSet {
    margin-left: 17vw;
  }
}

@media all and (max-width: 600px) {
  #skillset {
    grid-template-columns: 1fr 1fr;
    width: 65vw;
  }
}
@media all and (max-height: 500px) {
  #img {
    width: 20vw;
    height: 20vw;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 7.7vw;
  }

  .cont {
    flex-direction: row;
  }

  .imagen {
    margin: 0 0 0 5vw;
  }

  .info {
    max-width: 60vw;
  }

  #projectsSet {
    margin-left: 7.5vw;
  }
}

@media all and (max-width: 500px) {
  #projectsSet {
    grid-template-columns: 50vw;
    margin-left: 15vw;
  }
}

/* ---------------  ANIMACIONES  ----------------- */

@keyframes animate {
  0% {
    opacity: 100%;
    width: 0;
  }

  50%,
  100% {
    width: 100%;
  }

  60% {
    opacity: 100%;
  }

  70%,
  100% {
    opacity: 0%;
  }
}

@keyframes animate2 {
  15% {
    opacity: 100%;
    width: 0;
  }

  60%,
  100% {
    width: 100%;
  }

  70% {
    opacity: 100%;
  }

  80%,
  100% {
    opacity: 0%;
  }
}
