:root {
  --skills-size: 5vw;
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(6, 6, 11);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(6, 6, 11);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 170, 37);
}

nav {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.975);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
}
.navBrand {
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.navBrand:hover {
  color: #fffd;
}

nav button {
  display: none;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  color: #fff;
}
nav ul li a {
  text-decoration: none;
  color: #aaa;
  white-space: nowrap;
}
nav ul li a[class="active"] {
  color: rgb(83, 170, 37);
}
nav ul li a:not([class="active"]):hover {
  color: #fff;
}

@media all and (max-width: 500px) {
  nav button {
    display: block;
    background-color: #fff;
    width: 30px;
    margin-right: 20px;
    border-radius: 5px;
  }

  nav ul {
    display: none;
  }

  nav ul[class="active"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 60%;
    width: 40%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.975);
    border-bottom-left-radius: 20px;
  }
}

.info a {
  color: rgb(83, 170, 37);
}

.cont {
  padding: 80px 0;
  background-color: rgb(6, 6, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  min-height: 100vh;
}

.contProj {
  padding: 80px 0;
  min-height: 100vh;
  background-color: rgb(6, 6, 11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.info {
  max-width: 75vw;
  margin-bottom: 1rem;
}

h2 {
  color: rgb(83, 170, 37);
  position: relative;
  font-size: min(5.5rem, 10vw);
  font-weight: 900;
}

h3 {
  color: rgb(13, 75, 0);
  position: relative;
  font-size: min(4rem, 7vw);
  font-weight: 900;
  margin-bottom: 5vh;
}

h4 {
  color: rgb(13, 75, 0);
  position: relative;
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 1vw;
}

.imagen {
  margin: 0 24vw;
  flex-flow: row;
  align-self: start;
  @media screen and (max-width: 1900px) {
    margin: 0 23vw;
  };
  @media screen and (max-width: 1800px) {
    margin: 0 21vw;
  }
  @media screen and (max-width: 1700px) {
    margin: 0 19vw;
  }
  @media screen and (max-width: 1600px) {
    margin: 0 17vw;
  }
  @media screen and (max-width: 1500px) {
    margin: 0 15vw;
  }
  @media screen and (max-width: 1400px) {
    margin: 0 13vw;
  }
  @media screen and (max-width: 1300px) {
    margin: 0;
    align-self: center;
  }
  
}


p {
  color: #bbb;
  margin-top: 10px;
  text-align: justify;
  font-size: 1.5rem;
  margin: 0;
}

h1 {
  margin: 0;
  position: relative;
  color: #bbb;
  font-size: 5vw;
  white-space: pre;
  font-style: italic;
  font-weight: 900;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  white-space: pre;
  height: 100%;
  overflow: hidden;
  color: rgb(83, 170, 37);
  animation: animate 10s ease-in-out infinite;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  white-space: pre;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  color: #bbb;
  animation: animate2 10s ease-in-out infinite;
}

span {
  position: relative;
  font-size: 3vw;
  font-weight: 600;
  color: rgb(83, 170, 37);
}

#img {
  display: block;
  width: auto;  /* Tamaño base para pantallas grandes */
  max-width: 20vw;  /* Tamaño base para pantallas grandes */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 30vh; /* Mantiene la proporción de la imagen */
  max-width: 300px; /* Limita el tamaño máximo en dispositivos más grandes */
  min-width: 150px; /* Asegura que no sea demasiado pequeña */
  border-radius: 10%;
  border-top-left-radius: 50%;

  background-position-y: start;
  background-size: cover;
  transition: width 0.5s ease, height 0.5s ease;
}

/* linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 8, 0.7)), url(img/bros.gif) */
.parallax1 {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 4, 8, 0.7)),
    url(img/bros.gif);
  background-position-y: center;
  background-position-x: center;
  opacity: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/*  linear-gradient(rgba(5, 4, 8, 0.85), rgba(5, 4, 8, 0.85)), url(img/dws.gif) */
.parallax2 {
  position: relative;
  background: linear-gradient(rgba(5, 4, 8, 0.9), rgba(5, 4, 8, 0.9)),
    url(img/i032d91obzk81.gif);
  background-position-y: center;
  background-position-x: center;
  opacity: 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.parallax3 {
  position: relative;
  background: linear-gradient(rgba(5, 4, 8, 0.9), rgba(5, 4, 8, 0.9)),
    url(img/5927911.gif);
  background-position-y: center;
  background-position-x: center;
  opacity: 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.projects {
  width: 100%;
  border-left: 0.1vw solid #000;
  border-right: 0.1vw solid #000;
  transition: all 1s;
}

.projects:hover {
  transition: all 1s;
  filter: opacity(0.5);
  z-index: 1;
}
.pCard {
  background-color: rgb(9, 9, 16);
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: 0px 0px 35px 3px rgba(0, 0, 0, 0.88);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
  transition: transform 1s 0s;
  cursor: pointer;
}
.imgCont {
  overflow: hidden;
  width: 45%;
  height: 50%;
  box-shadow: 0px 0px 15px -6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 15px -6px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 15px -6px rgba(255, 255, 255, 1);
  border-radius: 20px;
  transition: transform 1s 0s;
}

.imgCont:hover {
  transform: scale(1.05);
  transition: transform 1s 0s;
}
.pCard:hover {
  transform: scale(1.05);
  transition: transform 1s 0s;
}


.pCard img {
  width: 100%;
}
.card-no-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 5vw;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 45%;
}
.pCard div p {
  font-size: 20px;
}
.pSkillSet{
  width: 100%;
}
.pCard div div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
h5 {
  text-align: center;
  color: rgb(83, 170, 37);
}
#wm {
  background: url(./img/wm.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#bt {
  background: url(./img/bt.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#obl1s1 {
  background: url(./img/obl1s1.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#juego {
  background: url(./img/gameIcon.svg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}


#btnRightPrj {
  right: 17.5vw;
}

.btnPrj {
  position: absolute;
  height: 25vh;
  font-size: 10vh;
  width: 7vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--bs-light);
  z-index: 1;
  background-color: rgb(0, 0, 0, 0);
}


#knowledge .knowContainer{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: min(4rem, 4vw);
  gap: min(2rem, 2vw);
  flex-wrap: wrap;
}

#knowledge .skill {
  display: inline-block;
}

#knowledge .iknow {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#knowledge span {
  color: rgb(13, 75, 0);
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#skillset {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#formContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#formContact label {
  color: #bbb;
}


#formContact button {
  margin-top: 15px;
}

#certifications {
  padding: 0 50px;
}

.cert p {
  font-size: min(1.5rem, 5vw);
}

.cert h4 {
  font-size: min(2rem, 6vw);
}

small {
  color: #bbb;
}

.mainSkills {
  text-align: center; 
  color: rgb(83, 170, 37); 
  margin-top: 20px;
  font-size: min(1.5rem, 3vw);
}


/*    HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -   HTML   -    */

.skill {
  transition: transform 0.5s;
  width: var(--skills-size);
  height: 70px;
}

.html {
  background-image: url(./img/html.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.html:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   -   CSS   */

.css {
  background-image: url(./img/css.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.css:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   -   JavaScript   */

.js {
  background-image: url(./img/js.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.js:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap   -   BootStrap    */

.bs {
  background-image: url(./img/bs.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.bs:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*       SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL      -      SQL       */

.sql {
  background-image: url(./img/sql.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.sql:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*      REACT     -     REACT     -     REACT     -     REACT     -     REACT     -     REACT     -     REACT     -     REACT      */

.react {
  background-image: url(./img/react.svg);
  background-size: 100% 100%;
  background-position-x: center;
}

.react:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*      Java     -     Java     -     Java     -     Java     -     Java     -     Java     -     Java     -     Java      */

.java {
  background-image: url(./img/java.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.java:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*      ReactNative     -     ReactNative     -     ReactNative     -     ReactNative     -     ReactNative     -     ReactNative     -     ReactNative     -     ReactNative      */

.react-native {
  background-image: url(./img/react-native.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.react-native:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    NodeJS   -   NodeJS   -   NodeJS   -   NodeJS   -   NodeJS   -   NodeJS   -   NodeJS   -   NodeJS    */

.node-js {
  background-image: url(./img/node-js.svg);
  background-size: 100% 100%;;
  background-position-x: center;
}

.node-js:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    Git   -   Git   -   Git   -   Git   -   Git   -   Git   -   Git   -   Git    */

.git {
  background-image: url(./img/git.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.git:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    Oracle   -   Oracle   -   Oracle   -   Oracle   -   Oracle   -   Oracle   -   Oracle   -   Oracle    */

.oracle {
  background-image: url(./img/oracle.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.oracle:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    Postgres   -   Postgres   -   Postgres   -   Postgres   -   Postgres   -   Postgres   -   Postgres   -   Postgres    */

.postgresql {
  background-image: url(./img/postgresql.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.postgresql:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    MySql   -   MySql   -   MySql   -   MySql   -   MySql   -   MySql   -   MySql   -   MySql    */

.mysql {
  background-image: url(./img/mysql.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.mysql:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    TypeScript   -   TypeScript   -   TypeScript   -   TypeScript   -   TypeScript   -   TypeScript   -   TypeScript   -   TypeScript    */

.ts {
  background-image: url(./img/ts.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.ts:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    GitHub   -   GitHub   -   GitHub   -   GitHub   -   GitHub   -   GitHub   -   GitHub   -   GitHub    */

.gith {
  background-image: url(./img/gith.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.gith:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    Tomcat   -   Tomcat   -   Tomcat   -   Tomcat   -   Tomcat   -   Tomcat   -   Tomcat   -   Tomcat    */

.tomcat {
  background-image: url(./img/tomcat.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.tomcat:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}

/*    JBoss   -   JBoss   -   JBoss   -   JBoss   -   JBoss   -   JBoss   -   JBoss   -   JBoss    */

.jboss {
  background-image: url(./img/redhat.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.jboss:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    Office   -   Office   -   Office   -   Office   -   Office   -   Office   -   Office   -   Office    */

.office {
  background-image: url(./img/office.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.office:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    Supabase   -   Supabase   -   Supabase   -   Supabase   -   Supabase   -   Supabase   -   Supabase   -   Supabase    */

.supabase {
  background-image: url(./img/supabase.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.supabase:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    SVN   -   SVN   -   SVN   -   SVN   -   SVN   -   SVN   -   SVN   -   SVN    */

.svn {
  background-image: url(./img/svn.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.svn:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    Expo   -   Expo   -   Expo   -   Expo   -   Expo   -   Expo   -   Expo   -   Expo    */

.expo {
  background-image: url(./img/expo.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.expo:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    Jasper   -   Jasper   -   Jasper   -   Jasper   -   Jasper   -   Jasper   -   Jasper   -   Jasper    */

.jasper {
  background-image: url(./img/jasper.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.jasper:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    Postman   -   Postman   -   Postman   -   Postman   -   Postman   -   Postman   -   Postman   -   Postman    */

.postman {
  background-image: url(./img/postman.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.postman:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}


/*    SoapUI   -   SoapUI   -   SoapUI   -   SoapUI   -   SoapUI   -   SoapUI   -   SoapUI   -   SoapUI    */

.soapui {
  background-image: url(./img/soapui.svg);
  image-resolution: from-image;
  background-size: 100% 100%;
}

.soapui:hover {
  transform: scale(1.1) skew(-0.01turn, 5deg);
}










.content {
  transition: all 0.2s;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  top: 50%;
  font-size: 1vw;
  right: 26%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0);
}

.skillsBg8:hover .content {
  transition: all 0.2s;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}


#email,
#name {
  width: 50vw;
}

#message {
  width: 50vw;
  height: 20vh;
}

#contact {
  height: 90vh;
  padding: 0!important;
}

#contact h3 {
  font-size: min(2rem, 3.5vw);
  margin-bottom: 0;
}

#contact h2 {
  margin-bottom: 0;
}


footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
  justify-content: center;
}

#github {
  background-image: url(./img/github.svg);
  width: 5vh;
  height: 5vh;
  background-size: cover;
  background-position-x: center;
}



#linkedin {
  background-image: url(./img/linkedin.svg);
  width: 5vh;
  height: 5vh;
  background-size: cover;
  background-position-x: center;
}

@media all and (max-width: 1300px) {

  .info {
    max-width: 85vw;
  }

  #img {
    border-top-right-radius: 50%;
  }

  p{
    font-size: 1.5rem;
  }
  .pCard {
    flex-direction: column-reverse;
    gap: 20px;
  }
  #p2 {
    flex-direction: column;
  }
  .pCard .imgCont {
    width: 90%;
  }
  .pCard .card-content {
    gap: 20px;
    width: 90%;
  }
  h1{
    font-size: 6vw;
  }
}

@media all and (max-width: 901px) {
  
  #knowledge .knowContainer {
    width: 95%;
  }

  #knowledge .skill {
    height: 30px;
  }

  .img {
    width: 40vw;
  }

  h1 {
    font-size: 9.5vw;
  }

  span {
    font-size: 3.6vw;
  }

  .info {
    max-width: 80%;
  }

  p {
    font-size: 1rem;
  }
}

@media all and (max-width: 900px) {

  p {
    font-size: 1rem;
  }

  span {
    font-size: 25px;
  }

  .content {
    font-size: 3vw;
    right: 25%;
    width: 50%;
    top: 40%;
  }

  #btnLeftPrj {
    display: none;
  }

  #btnRightPrj {
    display: none;
  }

  .projects {
    border-left: none;
    border-right: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  #email, #name, #message {
    width: 70vw;
  }
}
.skill {
  min-width: 55px;
}
@media all and (max-width: 600px) {

  #skillset {
    flex-wrap: wrap;
  }

  #skillset:nth-child(1) {
    background-color: #fff;
  }
}
@media all and (max-height: 500px) {

  p {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 7.7vw;
  }

  #resume {
    flex-direction: row;
  }

  .imagen {
    margin: 0 5vw 0 0;
    align-self: center;
  }

  #img {
    border-top-right-radius: 10%;
    border-bottom-left-radius: 50%;
    object-fit: cover;
  }

  .info {
    max-width: 60vw;
  }

}


/* ---------------  ANIMACIONES  ----------------- */

@keyframes animate {
  0% {
    opacity: 100%;
    width: 0;
  }

  50%,
  100% {
    width: 100%;
  }

  60% {
    opacity: 100%;
  }

  70%,
  100% {
    opacity: 0%;
  }
}

@keyframes animate2 {
  15% {
    opacity: 100%;
    width: 0;
  }

  60%,
  100% {
    width: 100%;
  }

  70% {
    opacity: 100%;
  }

  80%,
  100% {
    opacity: 0%;
  }
}
