*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(6, 6, 11);
}
    
#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#canvas{
    background:url(./img/Hills\ Free\ \(update\ 3.0\).png);
    background-size: cover;
    scale: 1;
}

#scoreDiv{
    margin: 2vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

#divOrientation{
    display: none;
    position: absolute;
}

@media all and (min-width:1600px) {
    #canvas{
        scale: 2;
    }
}

@media all and (max-height:600px) {
    #container{
        scale: 0.6;
    }
}
@media  (orientation: portrait) {
    #divOrientation{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        height: 100vh;
        width: 100vw;
        color: white;
        z-index: 200;
    }
    #canvas{
        z-index: -1;
    }
    h1{
        font-size: 5vw;
    }
}