.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(6,6,11);
    z-index: 200;
    color: #fff;
    text-align: center;
    line-height: 90vh;
}
.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(6,6,11);
    z-index: -200;
    color: #fff;
    text-align: center;
    line-height: 90vh;
}


@keyframes fadeIn{
    to{
        opacity: 0;
    }
}


.fadeIn{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


*{
    margin: 0;
    padding: 0;
}
#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(6, 6, 11);
}

#canvas{
    background:url(./img/Hills\ Free\ \(update\ 3.0\).png);
    background-size: cover;
    scale: 1;
}

#scoreDiv{
    margin: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}