html {
    height: 100%;
    width: 100%;
}

.container>section {
    width: 100%;
    margin-bottom: 2rem;
}

hgroup h2 {
    font-size: 1.7rem !important;
}

hgroup h2:has(+ h3) {
    font-size: 2rem !important;
}

hgroup h2+h3 {
    font-size: 1.5rem !important;
}

hgroup h3 {
    font-size: 1.5rem !important;
}

hgroup h4 {
    font-size: 1.2rem !important;
}

.navBrand {
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 2rem !important;
}

.navBrand img {
    margin-right: 15px;
    width: 65px;
    height: 65px;
}

.container>section {
    width: 100%;
    margin-bottom: 2rem;
}