#root {
  width:50%;
  margin: 0 auto;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: column;
  gap:50px
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inp{
  width: 100%;
}
.btn{
  width: 50%;
  align-self: center;
}